[submodule "fract-ol"]
	path = fract-ol
	url = git@github.com:leanor13/fract-ol.git
[submodule "Philosophers"]
	path = Philosophers
	url = git@github.com:leanor13/Philosophers.git
[submodule "miniRT"]
	path = miniRT
	url = https://github.com/ngtina99/miniRT
[submodule "minishell"]
	path = minishell
	url = https://github.com/leanor13/minishell
[submodule "CPPs"]
	path = CPPs
	url = git@github.com:leanor13/CPPs.git
